version: 2.1

orbs:
  aws-s3: circleci/aws-s3@1.0.15

jobs:
  publish-icons:
    docker:
      - image: circleci/python:3
    steps:
      - checkout
      - aws-s3/sync:
          from: ./icons/
          to: s3://$CDN_BUCKET_NAME/assets/buttons/
          arguments: |
            --acl bucket-owner-full-control
            --metadata-directive REPLACE --expires 2034-01-01T00:00:00Z --cache-control max-age=2592000,public

  publish-demos:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - run:
          name: Build Site
          command: |
            cd src/vue
            npm ci
            npm run build
      - aws-s3/sync:
          aws-region: AWS_DEFAULT_REGION
          from: ./src/vue/dist/
          to: s3://$CF_DEPLOYMENT_S3_BUCKET/static-sites/bonfare-by-unidays/
          arguments: |
            --acl bucket-owner-full-control \
            --cache-control "max-age=86400"

workflows:
  version: 2
  pushed-to-master:
    jobs:
      - publish-icons:
          context: cdn-publisher
          filters:
            branches:
              only: master

      - publish-demos:
          context: aws-cf-deployment-prod
          filters:
            branches:
              only: master

  pushed-to-branch:
    jobs:
      - publish-demos:
          context: aws-cf-deployment-dev
          filters:
            branches:
              ignore: master
