.causes{
    padding-top: 40px;
    padding-bottom: 80px;
    .power_heading_wrapper:before{
        content: '';
        position: absolute;    
        background-image: url(../images/circle_line1.png);
        background-repeat: no-repeat;
        background-position: top center;
        width: 100%;
        height: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-20%);
    }
    .power_button_group{
        text-align: center;
        .power_button{
            padding: 13px 80px;
        }
    }
    
    &.bg_image_4{
        .power_heading_wrapper:before{
            background-image: url(../images/circle_line2.png);
        }
        .power_title{
            color: $white-color;
        }
    }
}
.power_causes{
    position: relative;
    background: $white-color;
    box-shadow: 0px 15px 25px rgba($primary-color, 0.12);
    margin: 0px 0px 35px 0px;
    text-align: center;
    .power_causes_image img{
        width: 100%;
    }
    .power_highlight_tag{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .power_causes_content {
        padding: 30px 30px;
        h4{
            position: relative;
            color: $black-color;
            font-size: $font-20;
            line-height: 30px;
            margin-bottom: 10px;
            @include transition(color 0.5s, background-color 0.8s);
        }
        p{
            color: $black-color;
            line-height: 28px;
        }
        img{
            width: auto;
        }
    }
    &:hover .power_causes_content h4{
        color: $primary-color;
    }
    .power_button_group{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px 30px;
        @include bordered-top(1px, dashed, #ededed);
        @include transition(color 0.5s, background-color 0.8s);
        .power_button{
            font-size: $font-12;
            font-weight: $font-medium;
            padding: 6px 25px;
            background: transparent;
            color: $primary-color;
            @include bordered(2px, solid, $white-color);
        }
        .power_button:before {
            background: $primary-color;
        }
        .power_button:after {
            background: $white-color;
        }
    }
    &:hover .power_button_group{
        @include bordered-top(1px, dashed, transparent);
        background: $primary-color;
    }  
    &:hover .power_button{
        color: $white-color;
    }
    &:hover .power_button:before {
        background: $white-color;
    }
    &:hover .power_button:after {
        background: $primary-color;
    }
    &:hover .power_button:hover{
        background: $white-color;
        color: $primary-color;
    }

    /*--------- Color Variation --------*/
    &.second{
        .power_highlight_tag{
            background: $second-color;
        }
        &:hover .power_causes_content h4{
            color: $second-color;
        }
        .power_button_group{
            .power_button{
                background: transparent;
                color: $second-color;
            }
            .power_button:before {
                background: $second-color;
            }
            .power_button:after {
                background: $white-color;
            }
        }
        &:hover .power_button_group{
            background: $second-color;
        }  
        &:hover .power_button{
            color: $white-color;
        }
        &:hover .power_button:before {
            background: $white-color;
        }
        &:hover .power_button:after {
            background: $second-color;
        }
        &:hover .power_button:hover{
            background: $white-color;
            color: $second-color;
        }
    }
    &.third{
        .power_highlight_tag{
            background: $third-color;
        }
        &:hover .power_causes_content h4{
            color: $third-color;
        }
        .power_button_group{
            .power_button{
                background: transparent;
                color: $third-color;
            }
            .power_button:before {
                background: $third-color;
            }
            .power_button:after {
                background: $white-color;
            }
        }
        &:hover .power_button_group{
            background: $third-color;
        }  
        &:hover .power_button{
            color: $white-color;
        }
        &:hover .power_button:before {
            background: $white-color;
        }
        &:hover .power_button:after {
            background: $third-color;
        }
        &:hover .power_button:hover{
            background: $white-color;
            color: $third-color;
        }
    }
    &.fourth{
        .power_highlight_tag{
            background: $fourth-color;
        }
        &:hover .power_causes_content h4{
            color: $fourth-color;
        }
        .power_button_group{
            .power_button{
                background: transparent;
                color: $fourth-color;
            }
            .power_button:before {
                background: $fourth-color;
            }
            .power_button:after {
                background: $white-color;
            }
        }
        &:hover .power_button_group{
            background: $fourth-color;
        }  
        &:hover .power_button{
            color: $white-color;
        }
        &:hover .power_button:before {
            background: $white-color;
        }
        &:hover .power_button:after {
            background: $fourth-color;
        }
        &:hover .power_button:hover{
            background: $white-color;
            color: $fourth-color;
        }
    }
    &.fifth{
        .power_highlight_tag{
            background: $fifth-color;
        }
        &:hover .power_causes_content h4{
            color: $fifth-color;
        }
        .power_button_group{
            .power_button{
                background: transparent;
                color: $fifth-color;
            }
            .power_button:before {
                background: $fifth-color;
            }
            .power_button:after {
                background: $white-color;
            }
        }
        &:hover .power_button_group{
            background: $fifth-color;
        }  
        &:hover .power_button{
            color: $white-color;
        }
        &:hover .power_button:before {
            background: $white-color;
        }
        &:hover .power_button:after {
            background: $fifth-color;
        }
        &:hover .power_button:hover{
            background: $white-color;
            color: $fifth-color;
        }
    }
    &.sixth{
        .power_highlight_tag{
            background: $sixth-color;
        }
        &:hover .power_causes_content h4{
            color: $sixth-color;
        }
        .power_button_group{
            .power_button{
                background: transparent;
                color: $sixth-color;
            }
            .power_button:before {
                background: $sixth-color;
            }
            .power_button:after {
                background: $white-color;
            }
        }
        &:hover .power_button_group{
            background: $sixth-color;
        }  
        &:hover .power_button{
            color: $white-color;
        }
        &:hover .power_button:before {
            background: $white-color;
        }
        &:hover .power_button:after {
            background: $sixth-color;
        }
        &:hover .power_button:hover{
            background: $white-color;
            color: $sixth-color;
        }
    }
}

.power_causes.second{
    /*--------- Color Variation --------*/
    &.second:hover .power_causes_content h4{
        color: $second-color;
    }
    &.third:hover .power_causes_content h4{
        color: $third-color;
    }
    &.fourth:hover .power_causes_content h4{
        color: $fourth-color;
    }
    &.fifth:hover .power_causes_content h4{
        color: $fifth-color;
    }
}

/*--------- causes_carousel Navs --------*/
.owl-carousel.causes_carousel.side_nav .owl-nav {
    margin-top: 0px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
    
    .owl-prev{
        float: left;
        margin-left: -60px;
    }
    .owl-next{
        float: right;
        margin-right: -60px;
    }
}


.owl-carousel.causes_carousel .owl-nav {
    margin-top: 0px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(0%);
    width: 100%;
    z-index: -1;

    .owl-prev,
    .owl-next{
        float: none;
        margin: 0px 10px;
    }
    button.owl-prev, 
    button.owl-next {
        background: transparent;
        color: $primary-color;
        border: none;
        padding: 0 !important;
        font: inherit;
        width: 30px;
        height: 30px;
        line-height: 28px;
        border-radius: 100%;
        @include bordered(2px, solid, $primary-color);
        outline: none;
        @include transition(color 0.5s, background-color 0.8s);
    }
    button.owl-prev:hover, 
    button.owl-next:hover {
        background: $primary-color;
        color: $white-color;
    }
}
/*--------- causes_carousel Dots --------*/
.owl-carousel.causes_carousel .owl-dots {
    position: relative;
    text-align: center; 
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    button.owl-dot{
        outline: none;
        margin: 0px 5px;
        span{
            background: $black-color;
            outline: none;
            width: 10px;
            height: 10px;
            display: block;
            border-radius: 100%;
        }
        &.active span{
            background: $primary-color;
        }
    }
}
