@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<h2>MyUNiDAYS OAuth connect client example</h2>
        
<h4>
    Please edit the app settings and replace with the provided credentials
</h4>

@if (!User.Identity.IsAuthenticated)
{
<a asp-action="Login" asp-controller="Account"><img src="Images/login-Green.png"/></a>
}
else
{
    <p>This is your current user : @Model.Id</p>
}