<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientId" value="YOURCLIENTIDHERE" />
    <add key="OpenIdServer" value="https://account.myunidays.com" />
    <add key="ReturnUrl" value="http://localhost:63388/callback"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
	<system.webServer>
		<handlers>
			<add name="Index" type="PkceWebClient.IndexHandler, PkceWebClient" path="/" verb="GET"/>
			<add name="Login" type="PkceWebClient.LoginHandler, PkceWebClient" path="/log-in" verb="GET"/>
			<add name="Callback" type="PkceWebClient.CallbackHandler, PkceWebClient" path="/callback" verb="GET"/>
      <add name="Logout" type="PkceWebClient.LogoutHandler, PkceWebClient" path="/log-out" verb="GET"/>
      <add name="Refresh" type="PkceWebClient.RefreshHandler, PkceWebClient" path="/refresh" verb="GET"/>
		</handlers>
	</system.webServer>
</configuration>
