<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientId" value="7V4LFRNLTLX5X6FTG423RNXL2ZRW2OH5EGIKMH76FJK3AIQEEORQ"/>
    <add key="ClientSecret" value="SF5XT6VQ7AJW3QIQREJB6PU5WU7AADFXN6WTARAHNLGLIZN4FZ7CMG57D5OPDXCATBTT55JFX5IIWBI2F5RZORW6TQGOMUWBVAWRF4AP6Y4LIXNTYTW4QXVAEJSWPN53EFPMASDPMVR7RXKARHNDLD23K3W2KHHJD5RTOJWYBSLVB5BYGCWBECXDVBKLB5FAH4RRV4VX2VVQQ"/>
    <add key="OpenIdServer" value="https://account.unidays.ab.dev"/>
    <add key="ReturnUrl" value="http://localhost:63388/callback"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
	<system.webServer>
		<handlers>
			<add name="Index" type="Manual.IndexHandler, Manual" path="/" verb="GET" />
			<add name="Login" type="Manual.LoginHandler, Manual" path="/log-in" verb="GET" />
			<add name="Callback" type="Manual.CallbackHandler, Manual" path="/callback" verb="GET" />
			<add name="Logout" type="Manual.LogoutHandler, Manual" path="/log-out" verb="GET" />
		</handlers>
	</system.webServer>
</configuration>
