<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientId" value="YOURCLIENTIDHERE" />
    <add key="ClientSecret" value="YOURCLIENTSECRETHERE" />
    <add key="OpenIdServer" value="https://account.myunidays.com" />
    <add key="ReturnUrl" value="http://localhost:63388/callback"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
	<system.webServer>
		<handlers>
			<add name="Index" type="Manual.IndexHandler, Manual" path="/" verb="GET" />
			<add name="Login" type="Manual.LoginHandler, Manual" path="/log-in" verb="GET" />
			<add name="Callback" type="Manual.CallbackHandler, Manual" path="/callback" verb="GET" />
			<add name="Logout" type="Manual.LogoutHandler, Manual" path="/log-out" verb="GET" />
		</handlers>
	</system.webServer>
</configuration>
