<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientId" value="YOURCLIENTIDHERE" />
    <add key="ClientSecret" value="YOURCLIENTSECRETHERE" />
    <add key="OpenIdServer" value="https://account.myunidays.com" />
    <add key="ReturnUrl" value="http://localhost:63389/callback"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
	<system.webServer>
		<handlers>
			<add name="Index" type="ManualWebClient.IndexHandler, ManualWebClient" path="/" verb="GET" />
			<add name="Login" type="ManualWebClient.LoginHandler, ManualWebClient" path="/log-in" verb="GET" />
			<add name="Callback" type="ManualWebClient.CallbackHandler, ManualWebClient" path="/callback" verb="GET" />
			<add name="Logout" type="ManualWebClient.LogoutHandler, ManualWebClient" path="/log-out" verb="GET" />
      <add name="Refresh" type="ManualWebClient.RefreshHandler, ManualWebClient" path="/refresh" verb="GET"/>
		</handlers>
	</system.webServer>
</configuration>
